/* FONTS */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	src: local('Nunito Light'), local('Nunito-Light'), url(/fonts/nunito_l.woff2) format('woff2');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: local('Nunito Regular'), local('Nunito-Regular'), url(/fonts/nunito.woff2) format('woff2');
}

/* VARS */
:root {
	/* COLORS */
	--black: #272727;
	--grey: #aaaaaa;
	--primary: #cf485b;
	--primary-light: #dd5e6f;
	--white: #eee;

	/* PAGE SETTINGS */
	--page-width: 800px;
	--grid-gutters: 15px;
}

/* GENERIC RULES */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;;
	margin: 0 0 10px 0;
	color: var(--black);
	background-color: var(--white);
	font-size: 18px;
}

main, div.head-wrap {
	width: var(--page-width);
	max-width: 100%;
	margin: 0 auto 0 auto;
}

main {
	margin-top: -40px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	font-weight: normal;
}

p {
	line-height: 180%;
}

a {
	/* color: var(--primary); */
	text-decoration: none;
	cursor: pointer;
}

a:link, a:visited {
	color: var(--primary);
}

a:hover, a:active {
	color: var(--primary-light);
}

strong {
	font-weight: 500;
}

header {
	padding: 80px 0 110px;
	background-color: var(--black);
}

header div.head-wrap a {
	color: var(--white);
}

header div.head-wrap a:hover {
	color: var(--primary-light);
}

header h1 {
	max-width: 100%;
	margin: 0 auto 0 auto;
	font-size: 42px;
	margin: 0;
	font-weight: 300;
	display: inline;
	outline: 0;
}

.head-wrap > div {
	display: inline-block;
}

header h1::after {
	display: block;
	height: 3px;
	width: 0%;
	background-color: var(--primary);
	content: ' ';
	margin: 10px 0 14px;
	transition: width 500ms;
}

body.loaded header h1::after {
	width: 100%;
}

article {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 2px;
	box-shadow: #808080 0px 0px 4px -1px;
}

footer {
	width: var(--page-width);
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

/* NAVIGATION */
nav {
	display: flex;
}

nav > a {
	margin: 0 10px;
}
nav > a:first-child {
	margin-left: 0;
}

/* INPUTS */
label {
	cursor: pointer;
	position: relative;
	display: block;
	font-weight: normal;
}

label > span {
	margin-bottom: 5px;
	display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
textarea {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 14px;
	border: 0;
	background-color: white;
	border-radius: 2px;
	color: var(--black);
	font-size: 18px;
	border: solid 2px;
	border-color: var(--grey);
	transition: border-color 200ms;
}
textarea{
	resize: vertical;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	border-color: var(--primary);
}

select {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBzdHJva2U9JyNhYWFhYWEnIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cG9seWxpbmUgcG9pbnRzPSc2IDkgMTIgMTUgMTggOScvPjwvc3ZnPg==");
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-position-x: calc(100% - 10px);
	background-position-y: center;
}

select::-ms-expand {
	display: none;
}

/* Checkbox & radios */
label > input[type="checkbox"] ~ span,
label > input[type="radio"] ~ span {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

label > input[type="checkbox"],
label > input[type="radio"] {
	opacity: 0;
	position: absolute;
	align-self: center;
	cursor: pointer;
}

label > input[type="checkbox"] ~ span::before,
label > input[type="radio"] ~ span::before {
	content: '';
	display: inline-block;
	border: solid 2px;
	border-color: #969696;
	width: 18px;
	height: 18px;
	background-color: white;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgc3Ryb2tlPSd3aGl0ZScgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGhlaWdodD0nMTYnIHdpZHRoPScxNic+PGxpbmUgeDE9JzE4JyB5MT0nNicgeDI9JzYnIHkyPScxOCcvPjxsaW5lIHgxPSc2JyB5MT0nNicgeDI9JzE4JyB5Mj0nMTgnLz48L3N2Zz4=");
	border-radius: 3px;
	margin-right: 8px;
	transition: background-color 200ms, border-color 200ms;
	background-repeat: no-repeat;
	background-position: center;
}

label > input[type="radio"] ~ span::before {
	border-radius: 50%;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHN0cm9rZS13aWR0aD0iOCIgc3Ryb2tlPSJ3aGl0ZSI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48L3N2Zz4=")
}

label > input[type="checkbox"]:checked ~ span::before,
label > input[type="radio"]:checked ~ span::before {
	background-color: var(--primary);
	border-color: var(--primary);
}

label > input[type="checkbox"]:focus ~ span::before,
label > input[type="radio"]:focus ~ span::before {
	border-color: var(--primary-light);
}
label > input[type="checkbox"]:checked:focus ~ span::before,
label > input[type="radio"]:checked:focus ~ span::before {
	background-color: var(--primary-light);
}

/* Buttons */
button {
	font-size: 18px;
	padding: 12px 16px;
	border-radius: 2px;
	border: 0;
	background-color: var(--primary);
	color: white;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.13);
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover {
	background-color: var(--primary-light);
}

button:active {
	opacity: 0.8;
}

button:active {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}

/* TABLES */
table {
	width: 100%;
	font-weight: normal;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table td, table th {
	border-bottom: solid 1px rgb(207, 207, 207);
	padding: 12px 8px;
}

table th {
	padding-top: 0;
	text-align: left;
	font-weight: 500;
}