<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}</title>

	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/streats.js" async></script>
</head>
<body>
	<header>
		<div class="head-wrap">
			<div>
				<a href="/"><h1>Mort Thoughts</h1></a>
			</div>
			<nav>
				<a href="/blog">Blog</a>
				<a href="/projects">Projects</a>
				<a href="/contact">Contact</a>
			</nav>
		</div>
	</header>

	<main>
		<article>
			<h3>About me</h3>
		</article>

		<article>
			{% for post in collections.posts.pages %}
				<p>{{post.title}}</p>
				<p>{{post.content}}</p>
			{% endfor %}
		</article>
	</main>
</body>
</html>