<header>
	<div class="head-wrap">
		<div>
			<a href="/"><h1>Mort Thoughts</h1></a>
		</div>
		<nav>
			<a href="/blog">Blog</a>
			<a href="/projects">Projects</a>
			<a href="/contact">Contact</a>
		</nav>
	</div>
</header>