<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}</title>

	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/streats.js" async></script>
</head>
<body>
	{% include "header.liquid" %}

	<main>
		<article class="featured">
			{{page.content}}
		</article>

		<article>
			{% for post in collections.posts.pages %}
				{{post.title}}
				{{post.content}}
			{% endfor %}
		</article>
	</main>

	{% include "footer.liquid" %}
</body>
</html>